{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated %}  
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, {{ current_user.username }}</h1>
        <p class="lead">We currently have {{ patients }} patients on the ward.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('patient_list') }}" role="button">See patient list</a>
        </p>
    </div>
    {% else %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, stranger!</h1>
        <p class="lead">If this is your first time please register an account.</p>
        <hr class="my-4">
        <p>If it isn't then proceed to log in.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
        </p>
    </div>
    {% endif %}
{% endblock content %}