{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h1 class="display-4">Hello {{ current_user.username }}, these are all the current jobs:</h1><br>   
        <div class="card">
            <ul class="list-group list-group-flush">
            {% for job in jobs|sort(attribute='subject.identifying_number') %}
                {% if job.ordered and not job.done %}  
                    <li class="list-group-item list-group-item-danger">
                {% elif job.done and job.ordered %}
                    <li class="list-group-item list-group-item-success">
                {% else %}
                    <li class="list-group-item list-group-item-primary">
                {% endif %}
                    {{ job.subject.identifying_number }}: 
                    {% if job.ordered and not job.done %} Chase {% endif %} <strong>{{ job.task }}</strong>  (Assigned to {{ job.author.username }})
                        <a href="{{ url_for('assign_job', jn=job.id) }}" class="btn btn-sm btn-outline-primary py-0 float-right ml-2" style="font-size: 0.8em;">Add to your list</a>
                </li>   
        {% endfor %}
            </ul>
        </div>
    {% else %}
    <h1 style="font-size: 50pt;">Please log in to view current jobs</h1><br>
    {% endif %}
{% endblock content %}