{% extends "layout.html" %}

{% block content %}
    <h1 class="display-4">Hello {{ current_user.username }}, these are all your assigned jobs:</h1><br>   
        <div class="card" style="width: 30rem;">
            <ul class="list-group list-group-flush">
            {% for job in task_list %}
                {% if job.ordered and not job.done %}  
                    <li class="list-group-item list-group-item-danger">
                {% elif job.done and job.ordered %}
                    <li class="list-group-item list-group-item-success">
                {% else %}
                    <li class="list-group-item list-group-item-primary">
                {% endif %}
                    {{ job.subject.identifying_number }}: 
                    {% if job.ordered and not job.done %} Chase {% endif %} <strong>{{ job.task }}</strong>
                    <a href="#" class="btn btn-sm btn-outline-primary py-0 float-right ml-2" style="font-size: 0.8em;">Mark as done</a>
                </li>   
        {% endfor %}
            </ul>
        </div>
{% endblock content %}